//? background colors
$main-bg-color: rgb(27, 26, 25);
$bg-color-2: rgb(61, 55, 52);
$bg-color-3: rgb(78, 70, 65);

//? font colors
$main-font-color: #fff;
$font-color-2: #999;
$font-color-3: #777;
$font-color-4: #444;
$font-color-5: #000;
