//? background colors
$main-bg-color: #fff;
$bg-color-2: #eee;
$bg-color-3: #ccc;

//? font colors
$main-font-color: #000;
$font-color-2: #444;
$font-color-3: #666;
$font-color-4: #999;
$font-color-5: #fff;
