@use "./utils" as *;
@use "./fontEN";

@mixin centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-input-animation($box-width) {
  position: relative;
  width: $box-width;
  height: 2.7rem;

  input {
    padding: 0 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
    outline: none;
    font-size: 1.2em;
    transition: border-color $transition-time ease-in;
    font-family: fontEN.$subtitle-font;

    @include themify() {
      background-color: t(main-bg-color);
      color: t(main-font-color);
      border: 0.08em solid t(font-color-2);
    }

    &:focus,
    &:not(:placeholder-shown) {
      @include themify() {
        border-color: t(main-color);
      }
    }
  }

  label {
    position: absolute;
    left: 0.5em;
    top: 0.83em;
    padding: 0 0.5em;
    cursor: text;
    transition: all calc($transition-time / 2) ease-in;
    transition-property: top, left, font, color;
    @include themify() {
      background-color: t(main-bg-color);
      color: t(font-color-2);
    }

    span {
      color: red;
    }
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    top: -0.63em;
    left: 0.8em;
    font-size: 0.8em;
    cursor: default;
    @include themify() {
      color: t(main-color);
    }

    span {
      display: none;
    }
  }
}

.register {
  @include centered-flex;
  height: 100vh;
  @include languify() {
    font: 400 1rem l(subtitle-font);
  }
  @include themify() {
    background-color: t(main-bg-color);
    color: t(main-font-color);
  }

  &__container {
    padding: 4em 5em 5em 5em;
    border-radius: 1rem;
    font-size: 0.9em;
    @include themify() {
      border: 0.2rem solid t(main-color);
    }
  }

  legend {
    padding: 0 0.3em;
    @include languify() {
      font: 1000 4.5em l(navigation-font);
    }
  }

  &__form {
    @include centered-flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
    padding: 0 5em;

    &__first-row,
    &__second-row,
    &__last-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__name,
    &__date {
      @include text-input-animation(48%);
    }

    &__others {
      @include text-input-animation(100%);
    }

    &__last-row {
      &__back {
        @include centered-flex;
        text-decoration: none;
        @include themify() {
          color: t(main-font-color);
        }

        &:active {
          @include themify() {
            color: t(main-font-color);
          }
        }
      }

      &__submit,
      &__back {
        width: 5.5em;
        height: 2.7rem;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: all $transition-time ease-in-out;
        @include languify() {
          font: 600 1.2em l(subtitle-font);
        }
        @include themify() {
          border: 0.08rem solid t(main-color);
          background-color: t(main-bg-color);
        }

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          @include themify() {
            background-color: t(color-3);
          }
        }
      }
    }
  }
}
